# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build outputs
/dist
/build
/out
*.local

# Environment variables
.env
.env.*
!.env.example

# TypeScript cache
*.tsbuildinfo

# Testing
/coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Misc
.npm
.eslintcache 